 <%= render '/header' %>
  	<div class='body'>
      <div class='container'>
        <p id="notice">
        <%=  notice %>
        </p>

      <div class='row'>
        <% if @user.id == current_user.id %>
          <%= render '/left_current' ,user: @user, users: @users, game: @game%>
        <% else %>
          <%= render '/left' ,user: @user, users: @users, game: @game%>
             <% if @isRoom == true %>
                <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, :value=> @user.id %>
                  <% end %>
                  <%= f.submit "チャットを始める" %>
                <% end %>
              <% end %>
        <% end %>
          <div class='col-xs-9'>
        <h2>いいねしたゲーム</h2>


  <% if @favorite_list.present? %>
  <% @favorite_list.each do |game| %>
    <div class="col-xs-9 col-md-3">
    <div class="thumbnail">
            <%= attachment_image_tag game,:image,size:'100x100',fallback: "noimage_person_c.png"%>
      <div class="caption">
    <h4><%= link_to game.title , game_path(game), class:"game_#{game.id}"%></h4>
          </div>
    </div>
  </div>

  <% end %>
<% end %>
  </div>

   <div class='col-xs-9'>
    <h2>登録したゲーム</h2>


  <% @games.each do |game| %>
      <div class="col-xs-9 col-md-3">
    <div class="thumbnail">
        <%= attachment_image_tag game.user , :profile_image, :size => '100x100' ,fallback: "noimage_person_c.png"%>
 <div class="caption">
       <h4><%= link_to game.title , game_path(game), class:"game_#{game.id}" %></h4>
          </div>
    </div>
  </div>

  <% end %>


  </div>
</div>
      </div>
    </div>
