 <%= render '/header' %>
  	<div class='body'>
      <div class='container'>
        <p id="notice">
        <%=  notice %>
        </p>

      <div class='row'>
        <!-- ログインユーザーかそうでないかで表示する内容を変えている-->
        <% if @user.id == current_user.id %>
          <%= render '/left_current' ,user: @user, users: @users, game: @game%>
        <% else %>
          <%= render '/left' ,user: @user, users: @users, game: @game%>
        <% end %>

      <div class='col-xs-9'>
        <!-- いいねしたゲームの一覧-->
        <h2>いいねしたゲーム</h2>
        <% if @favorite_list.present? %>
        <% @favorite_list.each do |game| %>
          <div class="col-xs-9 col-md-3">
          <div class="thumbnail">
            <%= attachment_image_tag game,:image,size:'100x100',fallback: "noimage_person_c.png"%>
          <div class="caption">
            <h4><%= link_to game.title , game_path(game),class:"link-black"%></h4>
          </div>
          </div>
          </div>
        <% end %>
        <% else %>
          <h3 class="text-center">いいねはまだありません</h3>
        <% end %>
      </div>

      <div class='col-xs-9'>
        <!-- 登録したゲームの一覧-->
        <h2>登録したゲーム</h2>
        <% if @games.present? %>
        <% @games.each do |game| %>
          <div class="col-xs-9 col-md-3">
          <div class="thumbnail">
            <%= attachment_image_tag game,:image,size:'100x100',fallback: "noimage_person_c.png"%>
          <div class="caption">
            <h4><%= link_to game.title , game_path(game) ,class:"link-black" %></h4>
          </div>
          </div>
          </div>
        <% end %>
          <% else %>
          <h3 class="text-center">登録はまだありません</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
