 <%= render '/header' %>
  	<div class='body'>
      <div class='container'>
        <p id="notice">
        <%=  notice %>
        </p>

      <div class='row'>
        <% if @user.id == current_user.id %>
          <%= render '/left_current' ,user: @user, users: @users, game: @game%>
        <% else %>
          <%= render '/left' ,user: @user, users: @users, game: @game%>
             <% if @isRoom == true %>
                <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, :value=> @user.id %>
                  <% end %>
                  <%= f.submit "チャットを始める" %>
                <% end %>
              <% end %>
        <% end %>
          <div class='col-xs-9'>
        <h2>いいねしたゲーム</h2>
  <table class='table table-hover table-inverse'>
 <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>

 <td>
  <% if @favorite_list.present? %>
  <% @favorite_list.each do |game| %>
    <%= link_to game.title , game_path(game), class:"game_#{game.id}"%>
  <% end %>
<% end %>
</td>
  </tbody>
</table>


    <h2>登録したゲーム</h2>

    <table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @games.each do |game| %>
    <tr>

      <td>
        <%= link_to user_path(game.user) do %>
        <%= attachment_image_tag game.user , :profile_image, :size => '30x30' ,fallback: "noimage_person_c.png"%>
        <% end %>
      </td>




      <td><%= link_to game.title , game_path(game), class:"game_#{game.id}" %></td>
      <td><%= game.remarks %></td>
    </tr>
  <% end %>

  </tbody>
</table>
  </div>
</div>
      </div>
    </div>
