    <%= render '/header'%>

  	<div class='body'>
      <div class='container'>

      <p id="notice">
      <%=  notice %>
      </p>

        <div class='row'>
  <div class='col-xs-9'>
		<h2>ゲーム詳細</h2>
		<table class='table'>

        <td>
        <%= attachment_image_tag @game,:image,size:'50x50',fallback: "noimage_person_c.png"%>  </td>
        <td><%= link_to @game.title, game_path(@game) %></td>
        <td><%= @game.remarks %></td>

        <% if @game.user_id.to_i == current_user.id %>
        <td><%= link_to "Edit", edit_game_path(@game.id) ,class:"btn-sm btn-success"%></td>
        <td><%= link_to "Destroy",  "/games/#{@game.id}" ,method: :delete, "data-confirm" => "本当に削除しますか？",class:"btn-sm btn-danger"%></td>
        <% end %>

          <td><p><%= render "favorites/favorite", game: @game %></p></td>
      </tr>

    </table>

  </div>
</div>
      <p><%= render "reviews/review", game: @game %></p>
      </div>
    </div>

    <footer>
  <div class='container'>
  	<div class='row'>
    	<div class='col-xs-3 col-xs-offset-9'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>